.input {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);

  // &__label {
  // }

  &__element {
    padding: var(--space-2xs) var(--space-xs);
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

.msgError {
  font-size: var(--step--1);
  color: var(--coral-400);
}
