@use '../../styles/variables' as *;

.hero {
  padding-block-start: var(--space-3xl);
  padding-block-end: calc(var(--space-3xl) * 2);
  background: url('/src/assets/bg-pattern-home-2.svg') no-repeat;
  background-position: bottom center;

  @media (width >= $sm-query) {
    background: url('/src/assets/bg-pattern-home-1.svg') no-repeat,
      url('/src/assets/bg-pattern-home-2.svg') no-repeat;
    background-position: left -100px top 50px, bottom right calc(var(--grid-gutter) * 2);
  }

  &__grid {
    position: relative;
    text-align: center;

    @media (width >= $md-query) {
      --columns: 12;

      text-align: unset;
      align-items: end;
    }
  }

  h1 {
    font-size: var(--step-7);
    grid-column: 1 / span 6;
  }

  p {
    grid-column: 7 / -1;

    @media (width >= $md-query) {
      &::before {
        position: absolute;
        content: '';
        top: 0px;
        width: 50px;
        height: 4px;
        background-color: var(--white-200);
        border-radius: 10px;
      }
    }
  }
}
