:root {
  --family-base: 'Livvic', sans-serif;

  --green-400: hwb(186 0% 66%);
  --green-500: hsl(186, 100%, 14%);
  --green-600: hwb(186 0% 80%);
  --green-700: hwb(186 0% 84%);
  --coral-400: hwb(0 49% 4%);
  --white-200: hwb(0 95% 5%);

  --grid-max-width: 69.75rem; // 1116px
  --grid-gutter: var(--space-s-l, clamp(1rem, calc(0.5rem + 2.51vw), 2.25rem));

  --step--1: clamp(0.83rem, calc(0.81rem + 0.13vw), 0.9rem); // 13.33 -	14.40
  --step-0: clamp(1rem, calc(0.95rem + 0.25vw), 1.13rem); // 16.00 - 18.00
  --step-1: clamp(1.2rem, calc(1.12rem + 0.41vw), 1.41rem); // 19.20 - 22.50
  --step-2: clamp(1.44rem, calc(1.31rem + 0.64vw), 1.76rem); // 23.04 -	28.13
  --step-3: clamp(1.73rem, calc(1.54rem + 0.94vw), 2.2rem); // 27.65 - 35.16
  --step-4: clamp(2.07rem, calc(1.8rem + 1.35vw), 2.75rem); // 33.18 - 43.95
  --step-5: clamp(2.49rem, calc(2.11rem + 1.9vw), 3.43rem); // 39.81 - 54.93
  --step-6: clamp(2.99rem, calc(2.46rem + 2.62vw), 4.29rem); // 47.78 -	68.66
  --step-7: clamp(3.58rem, calc(2.87rem + 3.58vw), 5.36rem); // 57.33 -	85.83
  --step-8: clamp(4.3rem, calc(3.33rem + 4.84vw), 6.71rem); // 68.80 - 107.29

  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.13vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.47rem + 0.13vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.7rem + 0.25vw), 0.88rem);
  --space-s: clamp(1rem, calc(0.95rem + 0.25vw), 1.13rem);
  --space-m: clamp(1.5rem, calc(1.42rem + 0.38vw), 1.69rem);
  --space-l: clamp(2rem, calc(1.9rem + 0.5vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.85rem + 0.75vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.8rem + 1.01vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.7rem + 1.51vw), 6.75rem);

  --space-s-l: clamp(1rem, calc(0.5rem + 2.51vw), 2.25rem);
}
