@use '../../styles/variables' as *;

.feature {
  --bg-image-x-offset: calc(var(--grid-gutter) * -3);

  background: url('/src/assets/bg-pattern-home-3.svg') no-repeat;
  background-position: bottom right var(--bg-image-x-offset);
  background-color: var(--green-600);
  padding-block: var(--space-3xl);

  &__grid {
    --columns: 1;

    position: relative;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
    padding-top: var(--space-xl);

    h2 {
      grid-column: 1 / span 2;
      font-size: var(--step-4);
      font-weight: 600;
      line-height: 1.15;
      max-width: 22ch;

      &::before {
        position: absolute;
        content: '';
        top: 0px;
        width: 50px;
        height: 4px;
        background-color: var(--coral-400);
        border-radius: 10px;
      }
    }

    h3 {
      color: var(--coral-400);
    }

    div,
    article {
      display: grid;
      justify-items: center;
      text-align: center;
      gap: var(--space-l);
    }

    article {
      gap: var(--space-s);
      column-gap: var(--space-l);
    }

    @media (width >= $md-query) {
      --columns: 4;
      gap: var(--space-xl) var(--space-3xl);

      div,
      article {
        --columns: 2;
        grid-column: 3 / -1;
        text-align: unset;
        justify-items: unset;
        align-content: center;

        & img {
          grid-column: span 1;
          grid-row: span 2;
          object-fit: cover;
          width: 72px;
        }

        & h3 {
          grid-column: 2 / span 1;
        }

        & p {
          grid-column: 2 / span 1;
        }
      }
    }
  }
}
